@tailwind base;
@tailwind components;
@tailwind utilities;

.slider-hero.hero::before {
  /* Skeleton to avoid LCS */
  content: "";
  position: absolute;
  width: 100%;
  height: inherit;
  background-color: #0e0e0e;
}

.hero-img {
  transition: opacity 0.4s cubic-bezier(0.645, 0.045, 0.355, 1) 0.2s;
}

.hero-img.hero-active {
  position: relative;
  opacity: 1;
  z-index: 1;
  transition-delay: 0ms;
}

.wrapper-button-img > :not(.selected-active) {
  opacity: 0.87;
  display: block;
  transition: opacity 150ms cubic-bezier(0.4, 0, 0.2, 1);
  transform: scale(0.8);
}

.z-1 {
  z-index: 1;
}
