/* GLOBAL COLOR*/
:root{
    --main: #CFE656;
    --sub: #A4FC51;
    --sub2: #FCF351;
    --inp: #85F263;
}

::selection{
    background: #CFE656;
}
/* GENERAL */
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

html{
    height: 100%;
}

body{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    font-family: 'Lato';
    font-size: 32px;
}

input{
    outline:none;
}
.container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 100%;
    width: 100%;
}

.box-container{
    display: flex;
    flex-direction: column;
    justify-content: center;

    border-radius: 5px;
    width: 52rem;
    height: 20rem;
}



/* Password OUTPUT and Clipb*/
/* Password */
.show-output{
    position: relative;
    margin: 15px 0 0px;
    padding: 15px 15px;
    background-color: var(--main);
    border-radius: 15px 15px 15px 0px;
    z-index: 2;
}

.input-group{
    background-color: var(--inp);
    border-radius: 15px 65px 20px 20px;
    display: table;
    width: 100%;
    padding-bottom: 5px;
}

.input-group input{
    display: table-cell;
    position: relative;
    width: 100%;
    outline: none;
}

.input-group-btn{
    width: 1%;

    vertical-align: middle;
}
#gen-pass{
    width: 95%;
    color: #000000f0;
    height: 40px;
    background-color: transparent;
    position: relative;
    font-size: 1.2rem;
    padding: 0.9rem 1rem;
    border: none;
    overflow-x: auto;
}

.btn{
    background-color: transparent;
    border: none;
}

.clipb{
    cursor: pointer;
    position: relative;
    top: 3px;
}

/* Tooltip Clip */
.tooltip {
    position: relative;
    display: inline-block;
  }
  
.tooltip .tooltiptext {
    visibility: hidden;
    width: 100px;
    background-color: #555;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px;
    position: absolute;
    z-index: 1;
    bottom: 100%;
    left: 50%;
    margin-left: -42px;
    opacity: 0;
    transition: opacity 0.3s;
    
}
  
.tooltip .tooltiptext::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: #555 transparent transparent transparent;
}
  
.tooltip:hover .tooltiptext {
    visibility: visible;
    opacity: 0.9;
}
/* Generate Button */
.box-button{
    margin: 0 0 15px 0;
    background-color: var(--main);
    border-radius: 0 0 25px 15px;
    padding: 0 0 10px 0px;
    width: 40%;
    display: flex;
    justify-content: center;
}
.gen-button{
    font-family: 'Lato';
    text-decoration: none;
    padding: 5px 15px;
    background-color: var(--inp);
    outline: none;
    cursor: pointer;
    transition: background-color .4s;
    border: none;
    text-align: center;
    text-decoration: none;
    display: inline-block;

}
.gen-button:active{
    border-color: none;
    box-shadow: 0px 0px 5px var(--inp);
    background-color: var(--sub2);
}
.gen-button:hover{
    box-shadow: 1px 1px 1px --sub;
    box-shadow: 0px 0px 5px var(--inp);
    background-color: var(--sub2);
}

/* form */
.box-variables{
    display: flex;
    justify-content: space-between;
    align-items: center
}

/* Input variables, length, numbers ,letters*/
.variables-input{
    background-color: var(--main);
    padding: 15px 15px;
    margin-top: 15px;
}

.box-length{
    display: flex;
}

input[type='number']::-webkit-inner-spin-button, 
input[type='number']::-webkit-outer-spin-button { 
    -webkit-appearance: none;
    margin: 0;
}

#length-num{
    -moz-appearance: textfield;
    text-align: center;
    margin: 0;
}
.btn-1{
    color: var(--sub2);
    background-color: var(--inp);
    border: none;
    font-size: 32px;
    cursor: pointer;
}
#decrement{
    padding: 5px 7px 2px 11px;
}
#decrement:hover, #decrement:active,
#increment:hover, #increment:active{
    box-shadow: 1px 1px 1px --sub;
    box-shadow: 0px 0px 5px var(--inp);
    background-color: var(--sub2);
    color: black;
}
#increment{
    padding: 6px 5px 2px 5px;
}
.dli{
    border: none;
    justify-content: center;
    text-align: center;
}
/* Responsive Mobile */
@media (max-width: 500px){
    .box-container{
        width: 90%;

    }
    #gen-pass{
        width: 85%;
    }
}
/* Responsive Tablet */

@media (min-width: 500px) and (max-width: 1000px){
    .box-container{
        width: 88%;

    }
    #gen-pass{
        width: 91%;
    }
}